%p.general-address
  = "#{address.first_name} #{address.last_name}"
  - if render_edit_link
    %span.general-edit
      = link_to('edit', checkout_address_path)
  %br
  = address.street_address
  %br
  = "#{address.city} #{address.zip}"
  %br
  = address.country
  %br
  = "Phone #{address.phone}"
