%tr
  %td
    %p.font-16= t('ecomm.checkout.order_subtotal')
  %td
    %p.font-16= number_to_currency(presenter.subtotal(@order.subtotal))
%tr
  %td
    %p.font-16= t('ecomm.checkout.shipping')
  %td
    %p#shipment-label.font-16= number_to_currency(@order.shipment.price)
%tr
  %td
    %strong.font-18= t('ecomm.carts.show.order_total')
  %td
    %strong#order-total-label.font-18{'data-subtotal': presenter.subtotal(@order.subtotal).amount}= number_to_currency(presenter.subtotal(@order.subtotal) + presenter.to_money(@order.shipment.price))
    -# %strong#order-total-label.font-18{'data-subtotal': |
      -# presenter.subtotal(@order.subtotal).amount}= |
      -# presenter.subtotal(@order.subtotal) + @order.shipment.price |
