%main.container.mb-res-50
  %h1.general-title-margin= t('ecomm.checkout.caption')
  = render('progress')
  %h3.general-subtitle= t('.credit_card')
  = form_for(@order, url: checkout_submit_payment_path,
    class: 'max-600 mb-80') do |f|
    = f.fields_for(:card, @order.card) do |fields|
      .form-group{ class: ('has-error' if @order.card.errors[:number].any?)}
        %label.control-label.font-weight-light{for: 'number'}= t('.card_number')
        = fields.text_field(:number, class: 'form-control',
          data: {mask: '9999-9999-9999-9999', placeholder: 'X'},
          placeholder: t('.card_number'))
        %span.help-block= @order.card.errors[:number].first
      .row
        .col-sm-6
          .form-group{ class: |
            ('has-error' if @order.card.errors[:cardholder].any?)} |
            %label.control-label
              .font-weight-light{for: 'cardholder'}= t('.cardholder')
            = fields.text_field(:cardholder, class: 'form-control',
              placeholder: t('.cardholder'))
            %span.help-block= @order.card.errors[:cardholder].first
        .col-sm-3
          .form-group{ class: |
            ('has-error' if @order.card.errors[:month_year].any?)} |
            %label.control-label
              .font-weight-light{for: 'month_year'}= t('.month_year') 
            = fields.text_field(:month_year, class: 'form-control',
              placeholder: t('.month_year'))
            %span.help-block= @order.card.errors[:month_year].first
        .col-sm-3
          .form-group.relative{ class: |
            ('has-error' if @order.card.errors[:cvv].any?)} |
            %label.control-label.font-weight-light{for: 'cvv'}= t('.cvv')
            = fields.password_field(:cvv, class: 'form-control',
              placeholder: t('.cvv'))
            %i.fa.fa-question-circle.general-form-help.font-18{ |
              title: t('.cvv_hint'), data: {toggle: 'tooltip', |
              placement: 'top'}} |
            %span.help-block= @order.card.errors[:cvv].first
    .general-text-align
      %p.in-gold-500.font-18= t('carts.show.order_summary')
      %table.general-summary-table
        = render('delivery_totals')
    = f.submit(t('ecomm.checkout.save_continue'),
      class: 'btn btn-default center-block mb-20')
